DATABASE_URL="postgresql://tpower:tpower@localhost:5432/tpower_dev?schema=public"
JWT_SECRET="troque_isto_por_uma_senha_segura"
JWT_EXPIRES_IN="1h"
JWT_REFRESH_SECRET="troque_isto_por_uma_senha_refresh"
JWT_REFRESH_EXPIRES_IN="7d"
ADMIN_EMAIL=""
ADMIN_PASS=""
PORT=3000